@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Prata&display=swap')

$primary: #161519
$pink: #FFCCCC
$blue: #0057FF

$fPrimary: 'Archivo Narrow', sans-serif
$fHeading: 'Prata', serif

$box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 1)

*
  font-family: $fPrimary